.DS_*
*/.DS_*
*/*.xcodeproj
*/*.o
*/*.dSYM
*.o
*.dSYM
*/game
*/*.zip
*.zip
pa8/tests/*
BinarySTL.txt
pa9/pa9/pa9*
pa9/pa9/generator
pa8/pa8/generator
pa9/tests/
pa9_recursive_print/*
*.xlsx
*.docx
utils/utils/utils.xcodeproj/project.xcworkspace/xcuserdata/rahelmizrahi.xcuserdatad/UserInterfaceState.xcuserstate
utils/utils/utils.xcodeproj/xcshareddata/xcschemes/utils.xcscheme
utils/utils/utils.xcodeproj/xcuserdata/rahelmizrahi.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist